# XGBoost   Extreme Gradient Boost

In [4]:
import pandas as pd 
import numpy as np

In [5]:
df = pd.read_csv('Boston.csv')

In [6]:
df.shape

(506, 14)

In [8]:
X = df.iloc[:, 0:13]
y = df.iloc[:, -1]

In [16]:
print('X shape is' , X.shape)
print('y shape is' , y.shape)

X shape is (506, 13)
y shape is (506,)

In [17]:
from xgboost import XGBRFRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import GradientBoostingRegressor

In [37]:
xgb = XGBRFRegressor(eta = 0.9, gamma = 20)
gb = GradientBoostingRegressor()
rf = RandomForestRegressor()

In [23]:
from sklearn.model_selection import cross_val_score

In [38]:
print('XGB', np.mean(cross_val_score(xgb, X, y, cv= 10)))
print('gb', np.mean(cross_val_score(gb, X, y, cv= 10)))
print('RF', np.mean(cross_val_score(rf, X, y, cv= 10)))

XGB 0.48962332522301477
gb 0.43155279650921397
RF 0.4964655363978479

## Applying XGBoost on Titanic Dataset

In [1]:
import numpy as np 
import pandas as pd

In [2]:
df = pd.read_csv('Titanic_train.csv')
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [3]:
df.drop(columns=['PassengerId', 'Name', 'Ticket', 'Cabin'], inplace=True)
df

     Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0           0       3    male  22.0      1      0   7.2500        S
1           1       1  female  38.0      1      0  71.2833        C
2           1       3  female  26.0      0      0   7.9250        S
3           1       1  female  35.0      1      0  53.1000        S
4           0       3    male  35.0      0      0   8.0500        S
..        ...     ...     ...   ...    ...    ...      ...      ...
886         0       2    male  27.0      0      0  13.0000        S
887         1       1  female  19.0      0      0  30.0000        S
888         0       3  female   NaN      1      2  23.4500        S
889         1       1    male  26.0      0      0  30.0000        C
890         0       3    male  32.0      0      0   7.7500        Q

[891 rows x 8 columns]

In [5]:
X = df.iloc[:,1:]
y = df.iloc[:,0]

In [6]:
X

     Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0         3    male  22.0      1      0   7.2500        S
1         1  female  38.0      1      0  71.2833        C
2         3  female  26.0      0      0   7.9250        S
3         1  female  35.0      1      0  53.1000        S
4         3    male  35.0      0      0   8.0500        S
..      ...     ...   ...    ...    ...      ...      ...
886       2    male  27.0      0      0  13.0000        S
887       1  female  19.0      0      0  30.0000        S
888       3  female   NaN      1      2  23.4500        S
889       1    male  26.0      0      0  30.0000        C
890       3    male  32.0      0      0   7.7500        Q

[891 rows x 7 columns]

In [8]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2, random_state=23)

In [9]:
X_train

     Pclass     Sex   Age  SibSp  Parch      Fare Embarked
151       1  female  22.0      1      0   66.6000        S
753       3    male  23.0      0      0    7.8958        S
746       3    male  16.0      1      1   20.2500        S
684       2    male  60.0      1      1   39.0000        S
887       1  female  19.0      0      0   30.0000        S
..      ...     ...   ...    ...    ...       ...      ...
31        1  female   NaN      1      0  146.5208        C
488       3    male  30.0      0      0    8.0500        S
40        3  female  40.0      1      0    9.4750        S
742       1  female  21.0      2      2  262.3750        C
595       3    male  36.0      1      1   24.1500        S

[712 rows x 7 columns]

In [15]:
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder

In [11]:
trf1 = ColumnTransformer([
    
    ('impute', SimpleImputer(),[2]),
    ('impute2', SimpleImputer(strategy='most_frequent'),[6])
    
], remainder='passthrough')

In [13]:
trf1.fit_transform(X_train)

array([[22.0, 'S', 1, ..., 1, 0, 66.6],
       [23.0, 'S', 3, ..., 0, 0, 7.8958],
       [16.0, 'S', 3, ..., 1, 1, 20.25],
       ...,
       [40.0, 'S', 3, ..., 1, 0, 9.475],
       [21.0, 'C', 1, ..., 2, 2, 262.375],
       [36.0, 'S', 3, ..., 1, 1, 24.15]], dtype=object)

In [16]:
trf2 = ColumnTransformer([
    
    ('ohe', OneHotEncoder(sparse=False, handle_unknown='ignore'),[1,6])
    ])

In [17]:
from xgboost import XGBClassifier

In [18]:
clf = XGBClassifier()

In [19]:
from sklearn.pipeline import Pipeline

In [20]:
pipe = Pipeline([
    ('step1',trf1),
    ('step2', trf2),
    ('step3', clf)
])

In [21]:
pipe.fit(X_train, y_train)

C:\Users\ASAD-AYUB\anaconda3\Lib\site-packages\sklearn\preprocessing\_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

Pipeline(steps=[('step1',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('impute', SimpleImputer(),
                                                  [2]),
                                                 ('impute2',
                                                  SimpleImputer(strategy='most_frequent'),
                                                  [6])])),
                ('step2',
                 ColumnTransformer(transformers=[('ohe',
                                                  OneHotEncoder(handle_unknown='ignore',
                                                                sparse=False),
                                                  [1, 6])])),
                ('step3',
                 XGBClassifier(base_score=None, booster=None, callbacks=None,
                               co...
                               feature_types=None, gamma=None, grow_policy=None,
                               importance_type=None,
                               interaction_constraints=None, learning_rate=None,
                               max_bin=None, max_cat_threshold=None,
                               max_cat_to_onehot=None, max_delta_step=None,
                               max_depth=None, max_leaves=None,
                               min_child_weight=None, missing=nan,
                               monotone_constraints=None, multi_strategy=None,
                               n_estimators=None, n_jobs=None,
                               num_parallel_tree=None, random_state=None, ...))])

In [23]:
y_pred = pipe.predict(X_test)

In [24]:
from sklearn.metrics import accuracy_score

In [25]:
accuracy_score(y_test, y_pred)

0.659217877094972

In [30]:
pipe.predict(np.array([[1, 'female', 33.0,1,0, 27.72,'C']], dtype=object))

C:\Users\ASAD-AYUB\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but SimpleImputer was fitted with feature names
  warnings.warn(
C:\Users\ASAD-AYUB\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but SimpleImputer was fitted with feature names
  warnings.warn(

array([1])